*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    
}

.Navbar{
      display:flex;
      
      align-items: center;
      width:100%;
      color:white;
      height:100px;
      background-color: #2A2A2A;
      position: fixed;
      z-index:99;
}

.brand-title{
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    margin:40px;
    font-weight: bolder;
    
}

.navbar-links{
    position:absolute;
    left:25%
}
.navbar-links ul{
    
    
     float: none; 
        display:flex;
        background-color: #2A2A2A;
        
        
}

.navbar-links ul li{
    list-style:none;
    background-color: #2A2A2A;
    align-items: center;
    
    
}

.navbar-links li a{
    font-family: Overpass,sans-serif;
    text-decoration: none;
    color:white;
    padding:1rem;
    display:block;
}

.navbar-links ul  li a:hover{
   
    border-bottom: solid 3px ;
    border-color: white;
    padding-bottom: 5px;
    
    
}


.toggle-button{
    position:absolute;
    top:2rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width:40px;
    height:31px;
}
.toggle-button a{
    align-self:center;
}



.bar{
    height:4px;
    width:100%;
    background-color: white;
    border-radius: 10px;;
}



.main-container{
    height:100%;
    color:pink;
    width:100%
}
.container{
    height:800px;
    width:100%;
    background-color: #2A2A2A;
          
          
}
  

.archplan{
    float:right;
}

.s1{
    height:800px;
    width:554px;
    position:absolute;
    top:100px;
    left:71px;
    opacity: 0.3;
    
}
.s1-b{
    height:800px;
    width:554px;
    position:absolute;
    top:100px;
    left:71px;
    opacity: 0.5;
    
}
.s2{
    height:800px;
    width:554px;
    position:absolute;
    top:100px;
    right:85px;
    opacity: 0.3;
    
}
.s2-b{
    height:800px;
    width:554px;
    position:absolute;
    top:100px;
    right:85px;
    opacity: 0.5;
    
}

.container-text{
    height: 250px;
    width:800px;
    text-shadow: #9a1b1b;
    
    position:absolute;
    top:320px;
    right:160px;
    text-align: right;
    animation:Slide_Up_Text 2.1s ease;

}

.t1{
   
    font-size: 70px;
    font-weight: bolder ;
    letter-spacing: 2px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: #9a1b1b;
}

.t2{
    font-size: 30px;
    font-weight: bold;
    color:white;
    
    font-family: "Courier New", Courier, monospace;
}

.t3{
    font-size: 20px;
    font-weight: bold;
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.arch-button{
    color:white;
    font-size: 15px;;
    background-color: black;
    margin-top:40px;
    width:180px;
    height: 50px;
    letter-spacing: 2px;
}

.small-boxes-container{
    display:flex;
    justify-content: center;
    
    width:1000;
    height:370;
    
    position:absolute;
    top:700px;
    left:145px;
}
.small-boxes1{
    height:300px;
    width:300px;
    background-color:white;
    margin: 10px;
    padding-left: 32px;
    padding-right: 32px;
   margin-bottom: 25px;
    text-align: center;
    /* justify-self: center; */
    align-items: center;
    color: black;
    

}
.small-boxes2{
    height:300px;
    width:300px;
    background-color:white;
    margin: 10px;
    padding-left: 32px;
    padding-right: 32px;
   margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.small-boxes3{
    height:330px;
    width:300px;
    background-color:white;
    color: black;
    margin: 10px;
    padding-left: 32px;
    padding-right: 28px;
   margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.i1{
    width:100px;
    height: 100px;
    margin-top: 30px;
    
}

.head-text{
    font-size: 28px;
    font-weight: bold;
    color:black;
    padding:18px;
}

.box1-a{
    text-decoration: none;
    
}


.box2-a{
    text-decoration: none;
    
}


.box3-a{
    text-decoration: none;
    
}

.close-button{
    display:none;
}


@keyframes Slide_Up{
    0%{
        transform:translateY(800px);
        
    }
    100%{
        transform: translateY(0);
        
    }
}

@keyframes Slide_Down{
    0%{
        transform:translateY(-800px);
       

    }
    100%{
        transform: translateY(0);
        
    }
}


@keyframes Slide_Up_Text{
    0%{
        transform:translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.leftarrow{
    width:20px;
    height: 20px;
    position:absolute;
    top:300px;
    left:30px;
    color:white;
}

.rightarrow{
    width:20px;
    height: 20px;
    position:absolute;
    top:300px;
    right:30px;
}

@media (max-width:768px)
{
    .navbar {
        
        flex-direction: column;
        align-items: flex-start;
        
    }

    .brand-title{
        font-size: 50px;;
    }
    .toggle-button {
        display: flex;
        margin-right: 20px;
    }
    .toggle-button.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-button.active .bar:nth-child(1){
        transform: translateY(18px) rotate(45deg);
    }
    .toggle-button.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
    

    .navbar-links {
        
       display: none;
       width: 100%;
    }

    .navbar-links ul {
        position: fixed;
        top:80px;
        left:0px;
        height:1080px;
        width: 100%;
        flex-direction: column;
        
    }

    .navbar-links ul li {
        text-align: center;
        width: 100%;
    }

    .navbar-links ul li a {
        padding: 3rem 5rem;
        font-size: 50px;
    }

    .navbar-links.active {
        display: flex;
    }

    

    .main-container{
        height:100%;
        color:pink;
        width:100%
    }
    .container{
              height:1140px;
              width:200%;
              background-color: #2A2A2A;
    }

    
   
    
    .s2-b{
        display: none;
    }
    .s1-b{
        display: none;
    }

    .s2{
    position: absolute;
      left:0px;
      width:200%;
      height:128%;
      opacity: 0.1;
    }

  .s1{
      position: absolute;
      left:0px;
      width:200%;
      height:128%;
      opacity: 0.3;
  }
    .small-boxes-container{
        flex-direction: column;
        position:absolute;
        left:120px;
        top:1200px;


    }

    .box1-a{
        height:600px;
        border: 2px solid black;
        width:600px;
        margin:40px;
        place-content: center;
        
    }
    .box2-a{
        height:600px;
        border: 2px solid black;
        width:600px;
        margin:40px;
        
    }
    
     
    .container-text{
        position:absolute;
        left:60px;
        top:280px;
        text-align: center;
    }
    
    .t1{
        font-size: 130px;
        font-weight: 900px;
    }

    .t2{
        font-size: 50px;
        margin-top:30px;
    }

    .t3{
        font-size:40px;
        font-family:'Times New Roman', Times, serif;
        margin-top:30px;
        }

    .arch-button{
        width:340px;
        height: 90px;
        font-size: 40px;
        margin-top:50px;
    }

    .small-boxes1{
        height:400px;
        width:500px;
        background-color:white;
        margin: 45px;
        margin-top: 80px;
        margin-bottom: 0px;
        text-align: center;
        font-size: 30px;
        /* justify-self: center; */
        align-items: center;
        color: black;
    
    }
    .small-boxes2{
       
        height:400px;
        width:500px;
        background-color:white;
        margin: 45px;
        margin-top: 80px;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        align-items: center;
        color: black;
       
        margin-bottom: 0px;
        
    }
    .small-boxes3{
        
        height:400px;
        width:500px;
        background-color:white;
        margin: 45px;
        margin-top: 80px;
        color: black;
        font-size: 30px;
        
        margin-bottom: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    
    
    
    .leftarrow{
        top:600px;
        z-index: 99;
    }
    
    .rightarrow{
        position: absolute;
        left:880px;
        top:600px;
        z-index: 99;
    }
    
    
}
